<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Informations Bancaire</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="banqueName">Banque</label>
            <div class="col-md-4">
                <input id="banqueName" name="banqueName" type="text" placeholder="Nom de la banque..." class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="bicName">BIC</label>
            <div class="col-md-4">
                <input id="bicName" name="bicName" type="text" placeholder="" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="ibanName">IBAN</label>
            <div class="col-md-4">
                <input id="ibanName" name="ibanName" type="text" placeholder="" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="saveBanque"></label>
            <div class="col-md-4">
                <button id="saveBanque" name="saveBanque" class="btn btn-primary">Sauvegarder</button>
            </div>
        </div>

    </fieldset>
</form>

